
nav {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}


 .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    backgr  ound: #e30cce;
    padding: 8px 15px;
    border-radius: 12px;
    border: 2px dashed black;
}


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(245, 243, 243);
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
    border: 2px double transparent;
}

.menu a:hover {
    background-color: rgb(20, 19, 19);
    border-color: white;
}


.photo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
}

.photo a {
    display: block;
    overflow: hidden; 
    border-radius: 12px;
}

.photo img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.photo a:hover img {
    transform: scale(1.1); 
    box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
}


body {
    direction: rtl;
    font-family: "Noto Nastaliq Urdu", serif;
    background: rgb(108, 97, 97);
    color: #f7f4f4;
    margin: 0;
}
.banner {
    position: relative;
    height: 70vh;
    background: url("mosque.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #671d1d;
}

.banner-text {
    position: relative;
    z-index: 1;
}

.banner-text h1 {
    font-size: 40px;
    color: #f8e10e;
     margin-bottom: 10px;
}

.banner-text p {
    font-size: 20px;
}
.hadith-section {
    padding: 40px 20px;
    text-align: center;
    background: #f4f4f4;
    border-radius: 10px;
    margin: 40px 0;
}

.hadith-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #222;
}

.hadith-card {
    background: #f5f3f3;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.3s;
}

.hadith-card:hover {
    transform: scale(1.10);
    box-shadow: 0px 8px 20px rgba(243, 2, 227, 0.3);
    
}

.hadith-card p {
    font-size: 20px;

    line-height: 1.8;
    color: #100f0f;
}
.namaz-section{
    background-color: aliceblue;
     padding: 20px;
    text-align: center;
    background: #635e5e;
    border-radius: 20px;
    margin: 40px ;

}
.namaz-card{
    background-color: aliceblue;
     padding: 20px;
    text-align: center;
    background-color: rgb(1, 10, 16);
    border-radius: 20px;
    margin: 40px ;

}
.h2{
    text-align: center;
}

.namaz-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 20px rgba(238, 237, 238, 0.3);